body {
  background-color: white;
  font-family: sans-serif;
  font-size: 10px;
}

.container {
  margin: 0 auto;
  width: 60%;
  float: center;
  padding: 2%
  background-color: Grey;
}

nav {
  margin: 0 auto;
  padding: 10px 0 15px 15px;
  position: fixed;
  width: 370px;
}

.restaurant-list {
  padding-top: 50px;
}

.content {
  padding: 2%;
  margin: 2%;
  width: 60%;
  box-sizing: border-box;
  display: inline-block;
}

.arrow {
  float:right;
  padding-right: 40%;
  margin: 0%;

}

.arrow-left{
  background-color: black;
  width: 75%;
  padding: 4%;




}
